*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body{
    height: 100%;
    background-color: #34386b;
    background-image: url(/src/assets/stars.svg);
}


/*Inicio dos estilos de fonte*/
.lata, p{
    text-align: center;
}



.p1{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    font-size: x-large;
}

p{
    color: azure;
    font-size: large;
    
    

}

hr{
    margin:1px;
    margin-left: 29px;
    margin-right: 29px;
}

ul{
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.h1Noticias{
    margin-left: 180px;
}

h6{
    color: #7a8daf;
    opacity: 0.5;
    margin-left: 25px;

}

/* Fim dos estilos de fonte*/


/*Personalização imagens*/
img{
    height: 180px;
    display: flex;
    margin-right: 10px;
}

.imgSonic{
    height: 100vh;
    opacity: 0.2;
    display: flex;
    position: absolute;
}

header{
    margin: auto;
}

.fundoNoticias{
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    border-radius:30px;
    background-color: rgb(0, 0, 0);
    height: 100vh;
   
}

nav{
    display: block;
    background-color: rgb(255, 255, 255);
    
}

/*Inicio classes*/

.lata{

    font-size: 90px;
    font-family: 'Press Start 2P', cursive;
    transform: translateY(+50.0px);
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
}

.containerCabecario{
    background-color: #f80505dc;
    display: block;
    
    
}

.titulo{
    background-color: rgb(40, 40, 44);
    display: flex;
    background-image: url(/src/assets/herois.png)
}


.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
 /*NAVBAR INICIO*/

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
 
  .navbar ul li {
    flex: 1;
    text-align: center;
  }
  
  
  .navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-transform: uppercase;
  }
  
  .navbar ul li a:hover {
    background-color: #ddd;
    color: black;
  }

  /*NAVBAR FIM*/

  .noticiaGTA{
    background-color: rgb(0, 0, 0);
    margin-left: 440px;
    margin-bottom: 300px;
  }

  .imgGTA{
    
    height: 50vh;
    width: 80vh;
    margin: auto;
    object-fit: cover;
    max-width: 100%;
    
  }

  footer {
    background: #222; /* Cor de fundo escura */
    color: white; /* Texto branco */
    text-align: center; /* Centraliza o texto */
    padding: 15px 0; /* Espaçamento interno */
    font-size: 14px;
    width: 100%;
    bottom: 0;
  }



  

  


/*Fim classes*/




